@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$primary-color-light: #F87C91;
$primary-color: #E9687E;
$primary-color-dark: #AB3051;
$secondary-color: #F6AA94;
$secondary-color-dark: #EF8D70;
$white-color: #FDFAF3;

* {
    font-family: 'Lato', sans-serif;
}